<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product.product_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Tax percentage:</strong>
    <%= product.tax_percentage %>
  </p>

  <p>
    <strong>Available stock:</strong>
    <%= product.available_stock %>
  </p>

</div>
